In [3]:
#!pip install plotly

In [4]:
import sklearn
import pandas as pd 
import plotly
plotly.tools.set_credentials_file(username='eklinebarg', api_key='CgHG7o0WQdDb15sMnfvM')
import plotly.plotly as py
import plotly.graph_objs as go

In [5]:
df = pd.read_csv('/Users/emilylinebarger/Downloads/RDC_InventoryCoreMetrics_Zip_sfh.csv')
df.shape

(14999, 35)

In [6]:
criteria1 = df['ZipCode']>=90000 
criteria2 = df['ZipCode']<=93600
criteria_all = criteria1 & criteria2

In [7]:
df.ca = df[criteria_all]
df.ca.head()

,Month,ZipCode,ZipName,Property Type,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
13370,201805,90001.0,"Los Angeles, CA",Single Family Home,NaN,402550.0,0.0347,0.1668,41.5,0.2969,...,0.4286,426896.0,0.0221,0.1999,46.5,0.2237,-0.0882,0.1205,-0.0670,0.0468
13371,201805,90002.0,"Los Angeles, CA",Single Family Home,NaN,376525.0,0.0042,0.0874,59.5,-0.0703,...,0.2000,372388.0,0.0097,0.1225,65.5,-0.2202,-0.1603,0.1008,-0.2117,0.0323
13372,201805,90003.0,"Los Angeles, CA",Single Family Home,*,400800.0,0.0546,NaN,25.5,-0.0556,...,0.4000,399639.0,0.0639,0.0953,32.5,-0.2073,-0.3367,0.2745,-0.2440,0.1609
13373,201805,90004.0,"Los Angeles, CA",Single Family Home,NaN,1420050.0,-0.0527,-0.0517,45.0,0.0227,...,0.1250,2314338.0,0.0557,0.0983,54.0,0.0385,-0.0609,0.2000,0.0182,0.0384
13374,201805,90005.0,"Los Angeles, CA",Single Family Home,NaN,2055050.0,-0.2396,0.4056,12.5,-0.1071,...,1.2500,3749029.0,-0.0361,0.3056,17.0,0.0000,0.0625,0.3600,0.1457,0.2171

In [46]:
criteria3 = (df.ca['Median Listing Price']<=400000) & (df.ca['Median Listing Price']>=200000)
dfca_400 = df.ca[criteria3]

In [47]:
dfca_400.shape

(108, 35)

In [48]:
ca_zip = dfca_400['ZipCode']
ca_medprice = dfca_400['Median Listing Price']

In [49]:
ca_zip.head()

13371    90002.0
13377    90011.0
13405    90059.0
13419    90221.0
13420    90222.0
Name: ZipCode, dtype: float64

In [50]:
ca_medprice = ca_medprice.sort_values()
ca_medprice.head()

13926    209950.0
13925    214950.0
13714    215000.0
13934    221778.5
13980    225050.0
Name: Median Listing Price, dtype: float64

In [51]:
# Make a Bar trace object
trace1 = go.Bar(
    x=ca_zip,  # a list of string as x-coords
    y=ca_medprice,   # 1d array of numbers as y-coords
    )

# Make Data object
data = go.Data([trace1])

title = "Map of median home price by zip code in CA"  # plot's title

# Make Layout object
layout = go.Layout(
    title=title,       # set plot title
    showlegend=False,  # remove legend
    )

# Make Figure object
fig = go.Figure(data=data, layout=layout)

# (@) Send to Plotly and show in notebook
py.iplot(fig)

In [52]:
dfca_400.head()

,Month,ZipCode,ZipName,Property Type,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
13371,201805,90002.0,"Los Angeles, CA",Single Family Home,NaN,376525.0,0.0042,0.0874,59.5,-0.0703,...,0.2000,372388.0,0.0097,0.1225,65.5,-0.2202,-0.1603,0.1008,-0.2117,0.0323
13377,201805,90011.0,"Los Angeles, CA",Single Family Home,NaN,385050.0,-0.0251,0.0370,26.0,0.1818,...,0.0000,387344.0,-0.0413,0.0318,30.0,0.2000,-0.2405,0.1538,0.0175,0.0412
13405,201805,90059.0,"Los Angeles, CA",Single Family Home,NaN,366050.0,-0.0108,0.0893,35.0,-0.1667,...,-0.3684,365901.0,-0.0269,0.0931,41.0,-0.1458,-0.2336,0.1714,0.0286,-0.0445
13419,201805,90221.0,"Compton, CA",Single Family Home,NaN,399625.0,0.0052,0.0628,30.0,-0.0625,...,-0.7000,404536.0,0.0156,0.0838,31.5,-0.0735,-0.3000,0.0500,-0.0125,-0.0750
13420,201805,90222.0,"Compton, CA",Single Family Home,NaN,382275.0,-0.0111,0.1031,27.5,-0.1406,...,0.3333,382482.0,0.0044,0.1286,31.5,-0.1250,-0.3368,0.1455,0.0205,0.0780

In [54]:
for i in dfca_400['ZipName']:
    print(i)

Los Angeles, CA
Los Angeles, CA
Los Angeles, CA
Compton, CA
Compton, CA
Seal Beach, CA
Borrego Springs, CA
Indio, CA
Indio, CA
Banning, CA
Beaumont, CA
Brawley, CA
Calexico, CA
Cathedral City, CA
Coachella, CA
Desert Hot Springs, CA
Desert Hot Springs, CA
El Centro, CA
Imperial, CA
Joshua Tree, CA
Morongo Valley, CA
Thousand Palms, CA
Yucca Valley, CA
Adelanto, CA
Apple Valley, CA
Apple Valley, CA
Big Bear City, CA
Bloomington, CA
Calimesa, CA
Cedarpines Park, CA
Colton, CA
Crestline, CA
Fontana, CA
Fontana, CA
Green Valley Lake, CA
Helendale, CA
Hesperia, CA
Hesperia, CA
Highland, CA
Phelan, CA
Pinon Hills, CA
Redlands, CA
Rialto, CA
Running Springs, CA
Victorville, CA
Victorville, CA
Victorville, CA
Wrightwood, CA
San Bernardino, CA
San Bernardino, CA
San Bernardino, CA
San Bernardino, CA
San Bernardino, CA
San Bernardino, CA
Riverside, CA
Lake Elsinore, CA
Hemet, CA
Hemet, CA
Hemet, CA
Moreno Valley, CA
Moreno Valley, CA
Moreno Valley, CA
Moreno Valley, CA
Perris, CA
Perris, CA
San Jacinto, CA
San Jacinto, CA
Sun City, CA
Sun City, CA
Laguna Woods, CA
Coalinga, CA
Delano, CA
Exeter, CA
Frazier Park, CA
Hanford, CA
Kernville, CA
Lemoore, CA
Lindsay, CA
Porterville, CA
Shafter, CA
Springville, CA
Tulare, CA
Visalia, CA
Wasco, CA
Wofford Heights, CA
Visalia, CA
Visalia, CA
Bakersfield, CA
Bakersfield, CA
Bakersfield, CA
Bakersfield, CA
Bakersfield, CA
Bakersfield, CA
Bakersfield, CA
Bakersfield, CA
Lompoc, CA
Santa Maria, CA
Lake Hughes, CA
Lancaster, CA
Lancaster, CA
Lancaster, CA
Littlerock, CA
Palmdale, CA
Palmdale, CA
Ridgecrest, CA
Rosamond, CA
Tehachapi, CA
Palmdale, CA

In [69]:
#!pip install Fiona
import fiona
shape = fiona.open("/Users/emilylinebarger/Downloads/ZCTA_2010Census_DP1/ZCTA_2010Census_DP1.shp")

In [70]:
shape